.FriendList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 0;
}

.FriendListItem {
  border: 2px solid #00000020;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  margin-top: 8px;
}

.FriendListItem:first-child {
  margin-left: 8px;
}
